/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.inline-card {
  width: max-content;
}

.card-items {
  display: grid;
  grid-template-columns: repeat(2, 180px);
  column-gap: 0.5em;
}

.card-item {
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid teal;
}

ul {
  text-align: left;
  padding: 0;
  list-style: none;
}

li {
  padding: 0.5em;
  border: 1px solid teal;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

button {
  padding: 4px 10px;
  cursor: pointer;
  outline: teal;
}

button:disabled {
  pointer-events: none;
}

.purchase-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}